{% extends 'base.html' %}

{% block title %}
Bikri Karta
{% endblock title %}

{% block custom_css %}
<style>
.bg_blue{
padding:10px;
border-radius:10px;
box-shadow:3px 3px 3px grey;
background:dodgerblue;
color:#fff;
}
.custom-block{
padding:15px;
border:1px solid dodgerblue;
}
</style>
{% endblock custom_css %}

{% block bodydata %}

<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
    बिक्री खाता
  </h3>
          <div class="text-center">{% for v in ven %}

            <p>(नियम २३ को उपनियम (१) को खण्ड  (छ) संग सम्बन्धित ) </p>
            <span>करदाता दर्ता नं (PAN) : {{v.pan}}        करदाताको नाम: {{v.kardartaname}}         साल    {{v.year}}   {% endfor %}   कर अवधि: {% for student in bdatas %}{% if forloop.counter <= 1 %}{{student.bmonth.month }} {% endif %}  {% endfor %}</span>


        </div>
  <button type="button" id="formButton" class="btn btn-primary" style="margin-left: 1300px;"><i class="fa fa-plus"></i></button>
  <div class="card-body">
    <div id="table" class="table-editable">
     
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th class="text-center">मिति</th>
            <th class="text-center">बीजक नम्बर</th>
            <th class="text-center">खरिदकर्ताको नाम</th>
            <th class="text-center">खरिदकर्ताको स्थायी लेखा नम्बर</th>
            <th class="text-center">वस्तु वा सेवाको नाम</th>
            <th class="text-center">वस्तु वा सेवाको परिमाण</th>
            <th class="text-center">जम्मा बिक्री / निकासी (रु)</th>
            <th class="text-center">स्थानीय कर छुटको बिक्री  मूल्य (रु)</th>
            <th class="text-center">मूल्य (रु)</th>
            <th class="text-center">कर (रु)</th>
            <th class="text-center">निकासी गरेको वस्तु वा सेवाको मूल्य (रु)</th>
            <th class="text-center">निकासी गरेको देश</th>
            <th class="text-center">निकासी प्रज्ञापनपत्र नम्बर</th>
            <th class="text-center">निकासी प्रज्ञापनपत्र मिति</th>
            
          </tr>
        </thead>
        <tbody>
                

            {% for student in bdatas %}
          <tr>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="dateof">{{ student.dateof }}
            </td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="bijan">{{ student.bijan }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="kharidname">{{ student.kharidname }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="kharidlekha">{{ student.kharidlekha }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="sewaname">{{ student.sewaname }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="pariman">{{ student.pariman }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="totalsell">{{ student.totalsell }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="sthaniyakar">{{ student.sthaniyakar }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="price">{{ student.price }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="tax">{{ student.tax }}</td>
            <td class="">{{ student.sewaprice }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="country">{{ student.country }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="nikasipatra">{{ student.nikasipatra }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="nikasidate">{{ student.nikasidate }}</td>
       
            <td class="d-inline">
              <p class="d-inline">
              <button onClick="window.location.reload();" class="btn btn-info">Save</button>
                <form action="{% url 'proapp:remove' student.id %}" method="POST">
                    {% csrf_token %}
                 <input type="submit" name="Remove" value="Remove" class="btn btn-danger">   
                
              </form>
            </p>
            </td>
          </tr>
          <!-- This is our clonable table line -->
        
          <!-- This is our clonable table line -->
         
          <!-- This is our clonable table line -->
         
  {% endfor %}


  
  <tr>
            <th class="text-center">जम्मा</th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center">रु {{tsell}}</th>
            <th class="text-center">रु {{tsthaniyakar}}</th>
            <th class="text-center">रु {{tprice}}</th>
            <th class="text-center"></th>
            <th class="text-center">रु {{tsewaprice}}</th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center"><a href="{% url 'proapp:savecsv' %}">CSV</a>
            {% for stu in bdatas %}
            {% if forloop.counter <= 1 %}
            <a href="{% url 'proapp:savep' stu.bmonth.id %}">PDF</a>
            {% endif %}
            </th>
            {% endfor %}
            
          </tr>
        </tbody>
      </table>
          
        
    </div>
  </div>
</div>
<!-- Editable table -->




<div class="card" id="form1" style="display: none;">
  
  
  <div class="card-body">
    <div id="table" class="table-editable">
     
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th class="text-center">मिति</th>
            <th class="text-center">बीजक नम्बर</th>
            <th class="text-center">खरिदकर्ताको नाम</th>
            <th class="text-center">खरिदकर्ताको स्थायी लेखा नम्बर</th>
            <th class="text-center">वस्तु वा सेवाको नाम</th>
            <th class="text-center">वस्तु वा सेवाको परिमाण</th>
            <th class="text-center">जम्मा बिक्री / निकासी (रु)</th>
            <th class="text-center">स्थानीय कर छुटको बिक्री  मूल्य (रु)</th>
            <th class="text-center">मूल्य (रु)</th>
            <th class="text-center">कर (रु)</th>
            <th class="text-center">निकासी गरेको वस्तु वा सेवाको मूल्य (रु)</th>
            <th class="text-center">निकासी गरेको देश</th>
            <th class="text-center">निकासी प्रज्ञापनपत्र नम्बर</th>
            <th class="text-center">निकासी प्रज्ञापनपत्र मिति</th>
            
          </tr>
        </thead>
        <tbody>


<section class="signup">
        <!-- <img src="images/signup-bg.jpg" alt=""> -->
        <div class="container">
          <div class="signup-content">
            <form method="POST">
              {% csrf_token %}
             
              <div class="form-group">
                <div>
                  {% for message in messages %}
                  <h5 style="color: red">{{message}}</h5>
                  {% endfor %}
                </div>
                <div>
                  {% if error %}
                  <h5 style="color: red">{{error}}</h5>
                    {% endif %}
                </div>
              </div>

              <tr>
           <td><input type="date"class="form-input"name="dateof" style="width: 100%;" id="dateof"placeholder="@dateof"required/></td>     
           
            <td><input type="text"class="form-input"name="bijan" style="width: 100%;" id="bijan"placeholder="@bijan"required/></td>
            <td><input type="text"class="form-input"name="kharidname" style="width: 100%;" id="kharidname"placeholder="@kharidname"required/></td>
            <td><input type="text"class="form-input"name="kharidlekha" style="width: 100%;" id="kharidlekha"placeholder="@kharidlekha"required/></td>
            <td><input type="text"class="form-input"name="sewaname" style="width: 100%;" id="sewaname"placeholder="@sewaname"required/></td>
            <td><input type="text"class="form-input"name="pariman" style="width: 100%;" id="pariman"placeholder="@pariman"required/></td>
            <td><input type="text"class="form-input"name="totalsell" style="width: 100%;" id="totalsell"placeholder="@totalsell"required/></td>
            <td><input type="text"class="form-input"name="sthaniyakar" style="width: 100%;" id="sthaniyakar"placeholder="@sthaniyakar"required/></td>
            <td><input type="text"class="form-input"name="price" style="width: 100%;" id="price"placeholder="@price"required/></td>
            <td><input type="text"class="form-input"name="tax" style="width: 100%;" id="tax"placeholder="@tax"required/></td>
            <td></td>
            <td><input type="text"class="form-input"name="country" style="width: 100%;" id="country"placeholder="@country"required/></td>
            <td><input type="text"class="form-input"name="nikasipatra" style="width: 100%;" id="nikasipatra"placeholder="@nikasipatra"required/></td>
            <td><input type="text"class="form-input"name="nikasidate" style="width: 100%;" id="nikasidate"placeholder="@nikasidate"required/></td>
            <td><input type="submit"class="form-submit btn btn-primary"name="submit" style="width: 100%;" id="submit"value="ADD"/></td>
            
           
          </tr>

            
            </form>
            
          </div>
        </div>
      </section>

         
        </tbody>
      </table>
          
        
    </div>
  </div>
</div>



    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                 {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success">{{ message }}</div>
                            {% elif message.tags == 'error' %}
                                <div class="alert alert-danger">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                 {% endif %}
            </div>
        </div>
</div>

{% endblock bodydata %}

{% block custom_js %}
    <script>
        $(document).ready(function(){
            $(document).on("click",".editable",function(){
                console.log("jsdhajajs")
                var value=$(this).text();
                var data_type=$(this).data("type");
                var input_type="text";
                var input="<input type='"+input_type+"' class='input-data' value='"+value+"' class='form-control'>";
                $(this).html(input);
                $(this).removeClass("editable")
            });

            $(document).on("blur",".input-data",function(){
                var value=$(this).val();
                console.log("hello")
                var td=$(this).parent("td");
                $(this).remove();
                td.html(value);
                td.addClass("editable");
                var type=td.data("type");
                sendToServer(td.data("id"),value,type);
            });
            $(document).on("keypress",".input-data",function(e){
                var key=e.which;
                console.log("world")
                if(key==13){
                    var value=$(this).val();
                    var td=$(this).parent("td");
                    $(this).remove();
                    td.html(value);
                    td.addClass("editable");
                   var type=td.data("type");
                   sendToServer(td.data("id"),value,type);
                }
            });

            function sendToServer(id,value,type){
                console.log(id);
                console.log(value);
                console.log(type);
                console.log("hello world")
                let csrftoken = '{{ csrf_token }}'
                $.ajax({
                    url:"http://127.0.0.1:8000/update/",
                    type:"POST",
                    headers:{'X-CSRFToken':csrftoken},
                    data:{id:id,type:type,value:value},
      
                })
                .done(function(response){
                    console.log(response);
                })
                .fail(function(){
                   console.log("Error Occured");
                });

            }
        });
</script>
{% endblock custom_js %}