{% extends 'base.html' %}
{% load static %}

{% block title %}
Info Update
{% endblock title %}
{% block bodydata %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>User Detail</title>

    <!-- Font Icon -->
    <link
      rel="stylesheet"
      href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" rel="stylesheet" />
  <link rel="icon" href="{% static 'images/mata.jpg' %}" type="image/icon type">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/stylesignup.css' %}" />
  </head>
  <body>


    <div class="main">
      <section class="signup">
        <!-- <img src="images/signup-bg.jpg" alt=""> -->
        <div class="container">
          <div class="signup-content">
          
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <div>
                  {% for message in messages %}
                  <h5 style="color: red">{{message}}</h5>
                  {% endfor %}
                </div>
                <div>
                  {% if error %}
                  <h5 style="color: red">{{error}}</h5>
                    {% endif %}
                </div>
              </div>
                                <h3 class="register-heading">Update Vendor Info</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="form-control">{{form.address}}</span>
                                            
                                        </div>
                                        <div class="form-group">
                                            <span class="form-control">{{form.pan}}</span>
                                        </div>
                                        <div class="form-group">
                                            <span class="form-control">{{form.kardartaname}}</span>
                                        </div>
                                        <div class="form-group">
                                            <span class="form-control">{{form.year}}</span>
                                        </div>
                                        <div class="form-group">
                                            <span class="form-control">{{form.duration}}</span>
                                        </div>
                                        <input type="submit" class="btn"  value="Update"/>
                                    </div>
                                    
                                        
                                        
                                        
                                    </div>


                                     </form>
                                </div>
                            </div>
           
          </div>
        </div>
      </section>
    </div>
    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>

{% endblock %}