{% extends 'base.html' %}

{% block title %}
Months
{% endblock title %}

{% block custom_css %}
<style>
.bg_blue{
padding:10px;
border-radius:10px;
box-shadow:3px 3px 3px grey;
background:dodgerblue;
color:#fff;
}
.custom-block{
padding:15px;
border:1px solid dodgerblue;
}
</style>
{% endblock custom_css %}

{% block bodydata %}

{% if ven %}


<table class="table" style="margin-left:20px;">
  <thead>
    <tr> 
      <th scope="col">स.न.</th>
      <th scope="col">महिना</th>
      <th scope="col">बिक्रिकार्ता</th>
      <th scope="col">खरिदकार्ता</th>
    </tr>
  </thead>
  {% for m in month %}
  <tbody>
    <tr>
      <th scope="row">{{m.id}}</th>
      <td>{{m.month}}</td>
      <td><a href="{% url 'proapp:detailcreate' m.id %}">बिक्री</a></td>
      <td><a href="{% url 'proapp:kharidcreate' m.id %}">खरिद</a></td>
    </tr>
    
  </tbody>
{% endfor %}
</table>
{% else %}
<h2>Complete your Detail here first<a href="{% url 'proapp:blogcreate' %}"> Click here</a></h2>

{% endif %}
{% endblock %}