{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <title>KHARID</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    body {
      background-color: #f7f7f7;
    }
  </style>
</head>
<body>
  <div><h1 style="text-align: center;margin-bottom: 0px;">KHARID KHATA</h1><h3 style="text-align: center;margin-top: 0px;">(Niyam 23 ko upniyam (1) ko khand (6) sanga Sambandhit)</h3></div>
  <div>
    {% for v in ven %}
    <p style="text-align: center;"><b>Kardarta no.(PAN): {{v.pan}}   </b><b>Kardarta ko naam: {{v.kardartaname}}</b><b>  Saal: {{v.year}}</b>{% endfor %}<b> Yabadhi: {% for student in context %}{{student.kmonth.month }}   {% endfor %}</b></p>
    
  </div>
  {% for c in context %}
   <div class="row">
    <div class="col-12 col-md-12">
      <!-- <div><p style="font-size: 10px;"><b>Bijak/Pragyapan PAtra no. </b><b style="margin-left: 10px;">Bijak/Pragyapan PAtra no. </b><b>Bijak/Pragyapan PAtra no. </b><b>Bijak/Pragyapan PAtra no. </b></p></div> -->

      <table class="table">
  <thead>
    <tr>
      <th scope="col">MITI</th>
      <th scope="col">Bijak</th>
      <th scope="col">Aapurtikarta ko Naam</th>
      <th scope="col">Aapurtikarta ko Sthayi no.</th>
      <th scope="col">Pauthari sewa</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total price</th>
      <th scope="col">Pauthari Total</th>
      <th scope="col">Buy Price</th>
      <th scope="col">Tax</th>
      <th scope="col">Pauthari Price</th>
      <th scope="col">Pauthari tax</th>
      <th scope="col">Pujigat Price</th>
      <th scope="col">Pujigat Tax</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>{{c.khariddate}}</th>
      <td>{{c.kharidbijan}}</td>
      <td>{{c.aapurtiname}}</td>
      <td>{{c.aapurtilekha}}</td>
      <th>{{c.pauthariname}}</th>
      <td>{{c.pauthariquantity}}</td>
      <td>{{c.totalbuyprice}}</td>
      <td>{{c.pautharitotalprice}}</td>
      <th>{{c.buyprice}}</th>
      <td>{{c.tax}}</td>
      <td>{{c.pauthariprice}}</td>
      <td>{{c.pautharitax}}</td>
      <th>{{c.pujigatprice}}</th>
      <td>{{c.pujigattax}}</td>
    </tr>
  </tbody>
</table>

    </div>
   
  </div>
  {% endfor %}

      <table class="table">
  <thead>
     <tr>
            <th class="text-center">Total</th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center">Rs. {{tsell}}</th>
            <th class="text-center">Rs. {{tsthaniyakar}}</th>
            <th class="text-center">Rs. {{tprice}}</th>
            <th class="text-center"></th>
            <th class="text-center">Rs. {{tsewaprice}}</th>
            <th class="text-center">{{tpauthariprice}}</th>
            <th class="text-center"></th>
            <th class="text-center">{{tpujigat}}</th>
            <th class="text-center"></th>
          
            
          </tr>
  </thead>
</table>

</body>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</html>