
        <div class="col-md-5" style="text-align:center;">
            <!-- <br> -->
            {% for pi in posts %}
            {% ifequal pi.username request.user.username %}
                <p>Username : {{pi.username}}</p>
                <p>Address : {{pi.address}}</p>
                <p>Pan Number : {{pi.pan}}</p>
                <p>Kardarta's Name : {{pi.kardartaname}}</p>
                <p>Year : {{pi.year}}</p>
                <p>Duration : {{pi.duration}}</p>
            <a href="{% url 'proapp:changepass' %}" class="btn btn-primary">Change Password</a>
            <a href="{% url 'proapp:infoupdate' pi.id %}" class="btn btn-primary">Update Info</a>
            {% else %}

            {% endifequal %}
        </div>
 
{% endfor %}
