{% extends 'base.html' %}

{% block title %}
Show Data Page
{% endblock title %}

{% block custom_css %}
<style>
.bg_blue{
padding:10px;
border-radius:10px;
box-shadow:3px 3px 3px grey;
background:dodgerblue;
color:#fff;
}
.custom-block{
padding:15px;
border:1px solid dodgerblue;
}
</style>
{% endblock custom_css %}

{% block bodydata %}
<!-- <div class="container"> -->
{% if ven %}
<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
    Bikri Khata
  </h3>
  
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"
        ><a href="" class="text-success"
          ><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a
      ></span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th class="text-center">Date Of</th>
            <th class="text-center">Bijan</th>
            <th class="text-center">Kharid Name</th>
            <th class="text-center">Kharid Lekha</th>
            <th class="text-center">Sewa Name</th>
            <th class="text-center">Total Sell</th>
            <th class="text-center">Sthaniyakar</th>
            <th class="text-center">Price</th>
            <th class="text-center">Tax</th>
            <th class="text-center">Sewa Price</th>
            <th class="text-center">Country</th>
            <th class="text-center">Nikasi Patra</th>
            <th class="text-center">Nikasi Date</th>
            
          </tr>
        </thead>
        <tbody>
            {% for student in students %}
          <tr>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="dateof">{{ student.dateof }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="bijan">{{ student.bijan }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="kharidname">{{ student.kharidname }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="kharidlekha">{{ student.kharidlekha }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="sewaname">{{ student.sewaname }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="totalsell">{{ student.totalsell }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="sthaniyakar">{{ student.sthaniyakar }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="price">{{ student.price }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="tax">{{ student.tax }}</td>
            <td class="">{{ student.sewaprice }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="country">{{ student.country }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="nikasipatra">{{ student.nikasipatra }}</td>
            <td class="editable" contenteditable="true" data-id="{{ student.id }}" data-type="nikasidate">{{ student.nikasidate }}</td>
            
            <td class="pt-3-half">
              <span class="table-up"
                ><a href="#!" class="indigo-text"
                  ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a
              ></span>
              <span class="table-down"
                ><a href="#!" class="indigo-text"
                  ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a
              ></span>
            </td>
            <td>
                <form action="{% url 'proapp:remove' student.id %}" method="POST">
                    {% csrf_token %}
                 <input type="submit" name="Remove" value="Remove" class="btn btn-danger">   
                
              </form>
            </td>
          </tr>
          <!-- This is our clonable table line -->
        
          <!-- This is our clonable table line -->
         
          <!-- This is our clonable table line -->
         
  {% endfor %}
  <tr>
            <th class="text-center">Total</th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center">Rs. {{tsell}}</th>
            <th class="text-center">Rs. {{tsthaniyakar}}</th>
            <th class="text-center">Rs. {{tprice}}</th>
            <th class="text-center"></th>
            <th class="text-center">Rs. {{tsewaprice}}</th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center"></th>
            
          </tr>
        </tbody>
      </table>
          
        
    </div>
  </div>
</div>
<!-- Editable table -->



    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                 {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success">{{ message }}</div>
                            {% elif message.tags == 'error' %}
                                <div class="alert alert-danger">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                 {% endif %}
            </div>
        </div>
</div>
{% else %}
<h2>Complete your Detail here first<a href="{% url 'proapp:blogcreate' %}"> Click here</a></h2>

{% endif %}
{% endblock bodydata %}

{% block custom_js %}
    <script>
        $(document).ready(function(){
            $(document).on("click",".editable",function(){
                console.log("jsdhajajs")
                var value=$(this).text();
                var data_type=$(this).data("type");
                var input_type="text";
                var input="<input type='"+input_type+"' class='input-data' value='"+value+"' class='form-control'>";
                $(this).html(input);
                $(this).removeClass("editable")
            });

            $(document).on("blur",".input-data",function(){
                var value=$(this).val();
                console.log("hello")
                var td=$(this).parent("td");
                $(this).remove();
                td.html(value);
                td.addClass("editable");
                var type=td.data("type");
                sendToServer(td.data("id"),value,type);
            });
            $(document).on("keypress",".input-data",function(e){
                var key=e.which;
                console.log("world")
                if(key==13){
                    var value=$(this).val();
                    var td=$(this).parent("td");
                    $(this).remove();
                    td.html(value);
                    td.addClass("editable");
                   var type=td.data("type");
                   sendToServer(td.data("id"),value,type);
                }
            });

            function sendToServer(id,value,type){
                console.log(id);
                console.log(value);
                console.log(type);
                console.log("hello world")
                let csrftoken = '{{ csrf_token }}'
                $.ajax({
                    url:"http://127.0.0.1:8000/update/",
                    type:"POST",
                    headers:{'X-CSRFToken':csrftoken},
                    data:{id:id,type:type,value:value},
                })
                .done(function(response){
                    console.log(response);
                })
                .fail(function(){
                   console.log("Error Occured");
                });

            }
        });
</script>
{% endblock custom_js %}